body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article {
    margin-bottom: 5rem;
}

h2 {
    margin-bottom: 1.6rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul > li {
    text-align: center;
    padding: 16px;
}

ul > li > a {
    color: white;
    text-decoration: none;
}

.el1 {
    background-color: #93A603;
}

.el2 {
    background-color: #0A89A6;
}

.el3 {
    background-color: #C8E6C9;
}

.el4 {
    background-color: #278C7A;
}

.el5 {
    background-color: #212121;
}

.container {
    display: flex;
    width: 100%;
}

.container > li {
    flex-grow: 1;
}

.ex3_2 > li > a:hover {
    color: red;
    text-decoration: underline;
}

.el0 {
    background-color: #FFA500;
}

.ex3_3 > li {
    flex-grow: 0;
    padding: 12px 48px;
}

.ex3_3 > li:nth-child(2) {
    margin-left: auto;
}
